/** Departure Board **/

.com-departure-board {
  margin: 50px;
  .cd-header .fa {
    margin-right: 10px;
  }
  .cd-body {
    .cd-services-container {
      padding: 15px;
      position: relative;
      .cd-services {
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 0;
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 630px;
      }
      &:first-child {
        margin-left: 40px;
      }
    }
    .cd-service-detail-container {
      margin-top: 15px;
    }
  }
}
